/**
 * Inspiration for this project found at:
 * https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart
 * 1. The `reverse` animation direction plays the animation backwards
 *    which makes it start at the stroke offset 100 which means displaying
 *    no stroke at all and animating it to the value defined in the SVG
 *    via the inline `stroke-dashoffset` attribute.
 * 2. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround.
 */

.circle-chart02 {
  width: 70px;
  height: 70px;
  /* box-shadow: 0px 0px 20px rgba(0,0,0,0.12), 0px 0px 20px inset rgba(0,0,0,0.16) ; */
  border-radius: 50%;
  margin: 0 auto;
  /* background: rgba(255,255,255,0.54); */
  /* border: 30px solid rgba(141,153,164,0.05); */
}

.circle-chart02__circle {
  stroke: rgba(0,230,118,1);
  stroke-width: 3;
  stroke-linecap: square;
  fill: none;
  animation: circle-chart-fill 2s reverse; /* 1 */ 
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

/**
 * 1. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 2. Scaling mirrors the circle to make the stroke move right
 *    to mark a positive chart value.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround.
 */

.circle-chart02__circle--negative {
  transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}

.circle-chart02__background {
  stroke: #FFF;
  stroke-width: 3;
  fill: none; 

}

.circle-chart02__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

.circle-chart02__percent {
  alignment-baseline: central;
  text-anchor: middle;
  font-size: 12px;
  fill: rgba(21,101,192,1);
  font-family: 'Roboto Bold', sans-serif;
  /* font-weight: 500; */
  letter-spacing: -0.5px;
  margin: 5px 0 0 0;
}

.circle-chart02__subline {
    alignment-baseline: central;
    text-anchor: middle;
    font-size: 0px;
    font-family: 'Roboto Bold', sans-serif;
   /*  font-weight: 500; */
    fill: rgba(67,66,93,0.3) ;
    letter-spacing: 0px;
}


/* 正常狀態顏色 */
.success-stroke {
  stroke: rgba(21,101,192,1);
}

/* 進行中顏色 */
.warning-stroke {
  stroke: rgba(21,101,192,1);
}

/* 負的顏色 */
.danger-stroke {
  stroke: rgba(21,101,192,1);
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
